includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    tmpDir: build/phpstan
    paths:
        - app
    checkModelProperties: true
